<?php DEFINE ('STS_END_CHAR', '$'); ?>
<?php DEFINE ('STS_CONTENT_END_CHAR', '$'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" $htmlparams$>
<head>
<base href="<?php echo HTTP_SERVER.DIR_WS_HTTP_CATALOG;?>" />
$headertags$
$google_analytics$
</head>
<body class="abocms">
<div id="container">
	<div id="header">
    	<div id="logo"><img src="$templatedir$/images/logo.jpg" /></div>
    </div>
    <div id="content">
        $content$
    </div>
</div>
</body>
</html>