#header {display:block;}
#print_link{display:none;}
#print_date{display:block;position:absolute;top:0;right:0;}
.product-printfriendly-details{display:none;}
.product-buy-now{display:none;}
.compare_legende{display:none;}
